.header{
  width: 50%;
  margin: 30px auto ;
  text-align: center;
  border-radius: 20px;
}

form{
  width: 50% ;
  margin: 40px auto;
  border-radius: ;
  padding: 10px ;

}

.taskbox{
  width:73% :
  padding: 10px:
}

.addbtn{
  padding:5px 20px ;

}

table{
  width:50% ;
  margin:40px auto ;
  border-collapse: collapse;
}

tr{
  border-bottom: 2px solid black;
}

 th, td{
   border: none;
   height: 30px;
   padding: 50px;
   text-align: center;
 }
