.header{
  width: 50%;
  margin: 40px auto ;
  text-align: center;
  color: ;
  background: ;
  border-radius: 20px;
}

form{
  width: 50% ;
  margin: 40px auto;
  border-radius: ;
  padding: 10px ;
  background: :
  border: ;
  align-content: center;
}

.taskbox{
  width: :
  height: ;
  padding: :
  border: ;
}

.addbtn{
  height: ;
  background: ;
  color: ;
  border: ;
  border-radius: ;
  padding: ;

}

table{
  width:50% ;
  margin:40px auto ;
  border-collapse: collapse;
}

tr{
  border-bottom: 2px solid black;
}

th{

}

 th, td{
   border: none;
   height: 30px;
   padding: 5px;
 }

tr:hover {

}
